h1.logo
{
	font-size: 44px;
	font-weight: 700;
	color: #1781b7;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-bottom: 40px;
}
nav
{
	background-color: #2A2A2A;
	text-align:center
}

.menu
{
    list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 18px;
	min-height: 30px;
	line-height: 150%;
}

.menu > li
{
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
	border-right: 1px #696969;
}

.menu a 
{
	color: #fff;
	text-decoration: none;
}

.menu a:hover
{
	color: #1781b7;
}
h1
{
	font-size: 40px;
	font-weight: 350;
	color: #1781b7;
	margin-bottom: 15px;
}
figure
{
	margin: 0px;
	padding: 0;
}

figcaption
{
	margin-top: 0px;
	padding: 0;
}
.nowosc
{
	background-color: #1F1F1F;
	padding: 10px;
	text-align: justify;
	margin-top: 60px;
	border-radius: 10px;
}

.nowoscimg
{
	display:inline-block;
	margin-left: 30px;
	width: 160px;

}
.nowoscimg img
{
	width: 100px;
	height: 100px;
}

.nowosctxt
{
	display: inline-block;
	width: 400px;
}

h2
{
	font-size: 30px;
	font-weight: 200;
	color: #1781b7;
}
.copy
{
        text-align: right;
        padding-top: 100px;
        padding-right: 60px;
        font-size: 20px;
        background-color: #2A2A2A;
}
.tel
{
        text-align: right;
        padding-top: 5px;
        padding-bottom: 40px;
        padding-right: 60px;
        font-size: 10px;
        background-color: #2A2A2A;
}
