.body
{
	margin: 0px;
}
.ikona
{
	width: 135px;
	height: 45px;
	position: fixed;
	margin-top: 2px;
	margin-left: 2px;
}
.header
{
	background-color: white;
	width: 100%;
	box-shadow: 0px -5px 20px;
    position: fixed;
	z-index: 1;
	opacity: 0.98;
}
.menu
{
	background-color: white;
	font-size: 18px;
	text-align: right;
	margin-left: 100px;
	height: 50px;
}
.menu > li
{
	display: inline-block;
	padding-left: 6px;
	padding-right: 6px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.menu a 
{
	color: black;
	text-decoration: none;
    text-align: center;
	transition-duration: 0.4s;
	display: block;
}
.menu a:hover
{
	color: #0066FF;
    transform: scale (1,04);
    z-index: 0;
}
.ig
{
	padding-top: 600px;
}
.tlo
{
    background-image:url(img/tlo.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	filter: blur(2.5px);
	z-index: -1;
	width: 100%;
	opacity: 0,9;
	padding-top: 400px;
	left: 0;
    right: 0;
}
.onas
{
	position: relative;
    z-index: 0;
	bottom: 150px;
	width: 800px;
	text-align: center;
	color: #EFEFEF;
	margin: 0 auto;
	opacity: 0.93;
}
.tlor
{
	position: relative;
}
